@charset "UTF-8";

.main {
  text-align: center;
  place-items: center;
  display: grid;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 10px;
}

.contents-list {
  width: auto;
  padding: 0;
}

li {
  padding: 5px;
  list-style-type: none;
}
