<%= stylesheet_link_tag 'pages/forum', media: 'all' %>

<h1>Forum#index</h1>
All posts:
<br/>
<br/>
<% @forums.each do |post| %>
  <%= link_to post.title, forum_path(post) %><br/>
<% end %>
<br/>
<br/>
<%= link_to "Create a new post", new_forum_path %>
