<%= stylesheet_link_tag 'pages/about', media: 'all' %>

<h1>Contents</h1>
<ul class="contents-list">
  <li><%= link_to "Learning by sharing", forums_path %></li>
  <li><%= link_to "Tools", tools_path %></li>
  <li>More comming soon!</li>
</ul>
